<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<header id="header">
    <nav class="navbar navbar-custom fixed-top navbar-expand-lg py-3">
        <div class="container-fluid mx-2">
            <div class="navbar-brand">
                <button type="button" class="btn menu-icon" (click)="opened=!opened">

                    <img src="/assets/menu.svg" alt="">
                </button>
            </div>
            <a class="navbar-brand" href="#">
                <img src="assets/logo.jpg" alt="" width="108" height="20">
            </a>
            <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item dropdown notif">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="/assets/bell.svg" alt="" height="25px">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown username">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" class="d-flex">
                            <span>Anggi Anindita</span>
                            <img src="/assets/dropdown.svg" alt="" height="25px">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened">
        <div class="sidebar">
            <div class="shortcut-links">
                <a href=""><img src="/assets/find2.svg" alt="">
                    <p>Find Jobs</p>
                </a>
                <a href=""><img src="/assets/profile.svg" alt="">
                    <p>Profile</p>
                </a>
                <a href=""><img src="/assets/bag.svg" alt="">
                    <p>Applied Jobs</p>
                </a>
                <a href=""><img src="/assets/save.svg" alt="">
                    <p>Saved Jobs</p>
                </a>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <main>
            <section class="find-jobs">
                <div class="contain container-fluid">
                    <div class="section-white">
                        <div class="section-search-grey">
                            <div class="row">
                                <div class="col-md-10">
                                    <mat-form-field class="example-form-field container-fluid" appearance="fill">
                                        <mat-label>Search for a job</mat-label>
                                        <span matPrefix>
                                            <mat-icon class="me-2 text-secondary">search</mat-icon> &nbsp;
                                        </span>
                                        <input matInput type="text" [(ngModel)]="value">
                                        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                            (click)="value=''">
                                            <mat-icon style="border: none;">close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <div class="input-group-append">
                                        <button class="btn btn-search bg-primary rounded-pill px-5 py-2 container-fluid"
                                            type="button" id="button-addon2">Search</button>
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-5 d-flex category-list">
                                    <div class="dropdown">
                                        <a class="btn btn-outline-primary rounded-pill dropdown-toggle px-3" href="#"
                                            role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Location
                                        </a>

                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
                                    <div class="dropdown">
                                        <a class="btn btn-outline-primary rounded-pill dropdown-toggle px-3" href="#"
                                            role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Job Type
                                        </a>

                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
                                    <div class="dropdown">
                                        <a class="btn btn-outline-primary rounded-pill dropdown-toggle px-3" href="#"
                                            role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Job Function
                                        </a>

                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
                                    <div class="dropdown">
                                        <a class="btn btn-outline-primary rounded-pill dropdown-toggle px-3" href="#"
                                            role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Date Posted
                                        </a>

                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-white" *ngFor="let job of jobs">
                        <div class="section-title">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-1 photo-border">
                                            <img src="/assets/ideaco.png" alt="">
                                        </div>
                                        <div class="col-md-7">
                                            <h5><a routerLink="detail/{{job.jobId}}" class="text-dark"> {{
                                                    job.jobName
                                                    }}<span class="badge ms-1"
                                                        [ngStyle]="{'color': (job.jobPosition === 'Contractual') ? '#006EFF' : (job.jobPosition === 'Full time') ? 'green' : ''}">{{job.jobPosition}}</span></a>
                                            </h5>
                                            <a href="">
                                                <p>{{ job.recruiterCompany }}</p>
                                            </a>
                                            <p class="text-secondary">{{ job.jobAddress }}</p>
                                            <p>Rp{{ job.jobSalary }}</p>
                                            <span class="text-secondary">{{ job.createdAt }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-button">
                                    <button type="button" class="btn btn-outline-primary rounded-pill">
                                        <img src="/assets/save.svg" alt="" class="filter-blue"> Save this
                                        job</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

    </mat-sidenav-content>
</mat-sidenav-container>