.modal-body {
    max-width: 600px !important;
    border: 2px dashed grey;
    border-radius: 10px;
    margin: 15px;

    img {
        width: 150px;
        height: 100px;
    }
}

.h100 {
    height: 100%;
}